table {
    border-collapse: collapse;
    width: 100%;
    counter-reset: row-num -1;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  table tr {
    counter-increment: row-num;
  }
  table tr td:first-child::before {
      content: counter(row-num) ". ";
  }